/* Martin EEDAT2 */ 

body {
    margin: 0;
    background-color: rgb(202, 202, 202);
      /* Detta bestämmer hur bakrunden på hemsidan ska se ut */
  }


.navbar {
    background-color: #ffffff;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
      /* 'Navigation bar' Längst upp på sidan */
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    width: 30px;
      /* Logga i 'navigation bar' */
}

header {
    background-color: rgba(202, 202, 202, 0.726);
    padding: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
}

