/* Martin EEDAT2 */ 

body {
    margin: 0;
    background: radial-gradient(circle, #004D6B, #003449);
      /* Detta bestämmer hur bakrunden på hemsidan ska se ut */
  }


.navbar {
    background: radial-gradient(circle, #004D6B, #003449);
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
      /* 'Navigation bar' Längst upp på sidan */
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    width: 30px;
      /* Logga i 'navigation bar' */
}

header {
    background: radial-gradient(circle, #004D6B, #003449);
    box-shadow: 0 5px 15px rgb(41, 41, 41);
    padding: 50px;
    text-align: center;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
}

.welcometxt {
    color: white;
    font-size: 25px;
    text-align: center;
    margin-top: 100px;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.box {
   width: 450px;
   height: 300px;
   margin-top: 100px;
   padding: 10px;
   background-color: #001f2bce;
   color: white;
   border-radius: 2%;
}







