/* Martin EEDAT2 */ 

body {
    margin: 0;
    overflow-x: hidden;
    background: radial-gradient(circle, #3e4041, #202020);
      /* Detta bestämmer hur bakrunden på hemsidan ska se ut */
  }


.navbar {
    background: radial-gradient(circle, #3e4041, #202020);
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
      /* 'Navigation bar' Längst upp på sidan */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li { /* Mellanrum mellan "Home", "About" och "Contact" */
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
}


img {
    max-width: 100%;
    height: auto;
    display: block;
    width: 30px;
      /* Logga i 'navigation bar' */
}

header {
    background: radial-gradient(circle, #3e4041, #202020);
    box-shadow: 0 5px 15px rgb(41, 41, 41);
    padding: 50px;
    text-align: center;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}


.welcometxt { /* Välkomsmeddelande på första sidan */
    color: white;
    font-size: 25px;
    text-align: center;
    margin-top: 75px;
}

.me { /* Bild på mig på första sidan */
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 150px;
    height: auto;
    border: 2px solid white;
    border-radius: 80%;
    padding: 4px;
}

.introduction {
    background-color: #202020;
    color: white;
    font-size: 20px;
    text-align: center;
    width: auto;
    padding: 5px;
    margin-top: 25px;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.leftcolumn {   
    width: 100%;
  }

  .row {
    width: 50%;
  }

.card {
    background-color: #202020;
    color: white;
    padding: 20px;
    margin-top: 30px;
    width: 100%;
  }



footer { /* Footer längst ner på sidan */
    padding: 15px;
    text-align: center;
    background: #1b1b1b;
    color: rgb(255, 255, 255);
    margin-top: 40px;
  }

  footer { /* Footer med <a> för att ändra utseende på länkarna i fottern */
    a { 
        color: white;
        text-decoration: none;
    }
  }

.quick-links { 
    flex: 0 1 30%;
    margin-bottom: 20px;
}

.quick-links ul {
    list-style: none;
    padding: 0;
}

.quick-links ul li {
    margin-bottom: 5px;
}

.legal {
    text-align: center;
    margin-top: 20px;
}


  





  
  
 















